<!DOCTYPE html>
<html>
<head>
  <title>upload File</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.8/xlsx.full.min.js"></script>
</head>
<body>
 <embed src="/courses/<%= doc %>/<%= course %>/<%= file %>" width="500" height="500">
</body>
</html>