*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: "josefin sans", sans-serif;
    font-size: 18px;
    color: white;
}
.home{
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color:rgb(0, 0, 0);
}
h1{
    font-size: 2.2rem;
    letter-spacing: 0.12rem;
    cursor: pointer;
    color: aliceblue;
}
span{
    color: brown;
}
nav{
    padding-left: 8%;
    padding-right: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0.8rem 1.5rem;  
}
nav ul li a {
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.4s;
}
nav ul li a:hover{
    color: red;
    border: 1px solid white;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
}
body{
    font-family: "montserrat" , sans-serif;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 100vh;
    margin: 0;
    transition: background 0.2s linear
  }
  body.dark{
    background-color: #292c35;
  }
  body.dark h1, body.dark .support a{
    color: white;
  }
  .checkbox{
    opacity: 0;
    position: absolute;
  }
  .checkbox-label{
    background-color: #646464;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .bxs-sun{
    color: blue;
  }
  .bxs-moon{
    color: aquamarine;
  }
  .checkbox-label .ball{
    background-color: black;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
  }
  .checkbox:checked + .checkbox-label .ball{
    transform: translateX(24px);
  }
  .imge{
    float: right;
    width: 45%;
    height: 200px;
    padding-top: 200px;
    padding-right: 100px;
}
.z{
    width: 45%;
    padding-top: 100px;
    padding-left: 100px;
    padding-bottom: 10px;
}
.b{
    width:100%;
    height:300px;
    text-align: center; 
    border-radius: 20px;
    background: rgb(0, 0, 0);
}
.b:hover{
    transform: scale(1.01);
}
.l{
    width: 100%;
    height: 40px;
    font-size: 40px;
    color: rgb(0, 0, 0);
}
input{
    width: 90%;
    height: 40px;
    outline:none ;
    border: none;
    background: rgb(41, 39, 39);
    margin: 8px 0;
    border-radius: 10px;
    padding: 4px;
    color: rgb(0, 0, 0);
}
input:focus{
    background: rgb(255, 255, 255);
    transform: scale(1.1);
}
.nn{
    font: bold 25px Arial;
    text-decoration: none;
    background-color: #4d4b4b;
    color: #18181b;
    padding: 6px 70px 6px 70px;
    border-top: 1px solid #000dff;
    border-right: 1px solid #061b56;
    border-bottom: 1px solid #0e1061;
    border-left: 1px solid #1114c6;
    border-radius: 5px;
    
}
.e{
    padding-left:100px ;
    width: 45%;
}
.e:hover{
    transform: scale(1.01);
}
.g{
    width:100%;
    height: 400px;
    text-align: center;
    border-radius: 20px;
    background: rgba(0, 0, 0);   
}
a:focus{
    background: rgb(0, 0, 0);
    transform: scale(1.1);
}
.tt1{
    width: 100%;
    height: 100vh;
}
.h2{
    color: deeppink;
    padding-top: 100px;
    font-size: 40px;
 }
 .h1{
    color: deeppink;
    padding-top: 100px;
    font-size: 40px;
 }
 .img{
    float: right;
    width: 50%;
    height: 500px;
    padding-top: 140px;
}
.mo{
    width: 80%;
    height: 400px;
}
.material{
    width:100%;
    height:500px;
    text-align: center;
    border-radius: 20px;
    background: rgb(0, 0, 0);
}
.material:hover{
    transform: scale(1.01);
}
.pp1{
    width: 100%;
    height: 40px;
    font-size: 40px;
    color: rgb(0, 0, 0);
    
}
.yy1{
    width: 45%;
    padding-left: 100px; 
    padding-top: 100px;
}
a:focus{
    background: rgb(248, 248, 248);
    transform: scale(1.1);
}
.accont{
    width:100%;
    height:400px;
    text-align: center;
    border-radius: 20px;
    background: rgb(0, 0, 0);
}
.yy2{
    width: 45%;
    padding-left: 100px; 
    padding-top: 110px;
}
.backgrond{
    width: 100%;
    min-height: 100vh;
    display: flex;   
    align-items: center;
    background: url(pexels-mateusz-dach-450035.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
























.k{
    justify-content: space-between;
    flex-grow: 1;
    width: 100%;
}
.x input{
    width: 20%;
    height: 15px;
}



















 